################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/cockpit/.vs
/cockpit/node_modules
/customer-journey/node_modules
/fraud-tracker/node_modules
