@import "../static/scss/main.scss";

html,
body,
.cockpit {
    height: 100%;
}

header {
    position: relative;
    height: 80px;
    background-color: #f8f9fa;
    padding: 9px 0;
    z-index: 2;
}

iframe {
    position: absolute;
    top: 80px;
    left: 0;
    height: calc(100% - 80px);
    z-index: 1;
}